<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrjKaloriPaevik.My.MySettings.FoodDatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\FoodDatabase.accdb"
            providerName="System.Data.OleDb" />
        <add name="PrjKaloriPaevik.My.MySettings.FoodDatabaseConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\FoodDatabase.accdb"
            providerName="System.Data.OleDb" />
        <add name="PrjKaloriPaevik.My.MySettings.ToiduAndmebaasConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Throthar\source\repos\PrjKaloriPaevik\ToiduTest.accdb"
            providerName="System.Data.OleDb" />
        <add name="PrjKaloriPaevik.My.MySettings.ToiduAndmebaasConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Users\B\Documents\Tarkvaratehnika\Andmebaas\ToiduAndmebaas.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>